.content {
    display: flex;
    align-items: stretch;
    margin-bottom: 40px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4);
}

.content img {
    width: 50%;
    height: 100%;
}

.content p {
    width: 50%;
    margin: 0;
    padding: 20px;
    font-size: 20px;
    background-color: #cdb773;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content p:nth-child(1){
    background-color: #a7c4c2;
}

#third p{
    background-color: #1b3a4b;
}
