main{
    min-height: 100vh;
}
#about-title{
    font-family: "Lexend Giga", sans-serif;
    font-weight: 600;
    color: #1b3a4b;
    padding: 20px 0 50px 0;
    text-align: center;
    font-size: 32px;
}
#intro{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 4%;
}
h1{
    font-size: 40px;
    margin-left: 2%;
    font-family: "lexend giga", sans-serif;
    color: #1b3a4b;
}
#intro p {
    justify-items: center;
    font-size: 24px;
    margin-left: 4%;
    color: #1b3a4b;
}
#content{
    width: 80%;
    display: flex;
    flex-wrap: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: #1b3a4b;
    background-color: #fafafa;
}
.section {
    width: 25%;
    font-size: 20px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.section::after {
    content: '';
    position: absolute;
    right: 0;
    top: 20%;
    height: 70%;
    border-right: 3px solid #a7c4c2;
}
.section:last-child::after {
    border-right: none;
}
.section img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
}
.section h4{
    font-size: 24px;
    color: #1b3a4b;
    margin-top: 20px;
}
.section p{
    font-size: 18px;
}
#button{
    margin-top: 170px;
    display: flex;
    justify-content: center;
}
main button{
    height: 60px;
    width: 220px;
    background-color: #1b3a4b;
    color: #fafafa;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease;
    margin-bottom: 30%;
}
button:hover{
    background-color: #a7c4c2;
}
@media (max-width: 1645px) {
    h1{
        font-size: 35px;
    }
    #intro {
        margin-bottom: 6%;
    }
    #intro p {
        font-size: 22px;
    }
    .section img{
        width: 160px;
        height: 160px;
    }
    .section h4{
        font-size: 22px;
    }
    .section p{
        font-size: 16px;
    }
}
@media (max-width: 1510px) {
    #content {
        width: 90%;
    }
    main button{
        height: 50px;
        width: 200px;
        font-size: 18px;
    }
}
@media (max-width: 1420px) {
    #content {
        flex-wrap: wrap;
    }
    .section {
        width: 45%;
        margin-bottom: 20px;
    }
    .section::after {
        top: 10%;
        height: 80%;
    }
    .section:nth-child(2n)::after {
        border-right: none;
    }
    .section h4{
        margin: 10px;
    }
    .section p{
        margin: 10px;
    }
    #button{
        margin-top: 120px;
    }
}
@media (max-width: 1200px) {
    h1{
        font-size: 30px;
    }
    #intro {
        margin-bottom: 6%;
    }
    #intro p {
        font-size: 20px;
    }
    .section img{
        width: 140px;
        height: 140px;
    }
    .section h4{
        font-size: 20px;
    }
    .section p{
        font-size: 15px;
    }
}
@media (max-width: 1000px) {
    nav{
        top: 75.5px;
    }
    #about-title{
        font-size: 30px;
    }
}
@media (max-width: 768px){
    nav{
        top: 60.5px;
    }
}
@media (max-width: 800px) {
    #intro {
        margin-bottom: 6%;
    }
    h1{
        font-size: 25px;
    }
    #intro p {
        font-size: 18px;
    }
    #content{
        width: 100%;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .section {
        width: 100%;
        margin-bottom: 30px;
    }
    .section img{
        width: 120px;
        height: 120px;
    }
    .section h4{
        font-size: 20px;
        margin: 3px
    }
    .section p{
        font-size: 15px;
    }
    .section::after {
        border-right: none;
    }
    #button{
        margin-top: 100px;
    }
    main button{
        height: 50px;
        width: 180px;
        font-size: 16px;
    }
    #about-title{
        font-size: 28px;
    }
}
@media (max-width: 800px) {
    #about-title {
        font-size: 26px;
    }
}
@media (max-width: 500px) {
    #about-title {
        font-size: 22px;
    }
}