main{
    min-height: 100vh;
}
#credits-title{
    font-family: "Lexend Giga", sans-serif;
    font-weight: 600;
    color: #1b3a4b;
    padding: 20px 0 50px 0;
    text-align: center;
}
#credit-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: -40px auto;
    text-align: center;
    top: 100px;
}

.credit-box {
    background: #1b3a4b;
    color: #fafafa;
    padding: 20px;
    font-size: 45px;
    font-weight: bold;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: transform 0.3s ease, background 0.3s ease-in-out;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.credit-box:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.6);
    background-color:#a7c4c2;
}
#modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    opacity: 0;
    transition: opacity 0.3s ease;
}

#modal.show {
    opacity: 1;
}

#modal-content {
    background-color: #fafafa;
    margin: 15% auto;
    padding: 20px 40px;
    border: 1px solid #888;
    width: 20%;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    animation: slide-down 0.3s ease;
}

@keyframes slide-down {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

#close-modal {
    color: #aaa;
    float: right;
    font-size: 35px;
    font-weight: bold;
}

#close-modal:hover,
#close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#modal-body {
    margin-top: 20px;
}

#modal-body h2 {
    color: #1b3a4b;
    font-size: 30px;
    margin-bottom: 10px;
}

#modal-body h4 {
    color: #1b3a4b;
    font-size: 20px;
}

#modal-body ul {
    font-size: 20px;
    line-height: 1.5;
    list-style-type: none;
}

#modal-body ul li a {
    top: -10px;
    position: relative;
    color: #1b3a4b;
    text-decoration: none;
}

#modal-body ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #1b3a4b;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

#modal-body ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
@media (max-width: 1700px) {
    #credit-grid {
        width: 75%;
    }
    .credit-box {
        font-size: 40px;
        height: 280px;
    }
}
@media (max-width: 1375px){
    #credit-grid {
        width: 70%;
    }
    .credit-box {
        font-size: 35px;
        height: 240px;
    }
    #modal {
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.4);
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    #modal-body h2 {
        font-size: 25px;
    }
    #modal-body h4 {
        font-size: 18px;
    }
    
    #modal-body ul {
        font-size: 18px;
    }
    #modal-content {
        background-color: #fafafa;
        margin: 15% auto;
        padding: 20px 40px;
        border: 1px solid #888;
        width: 20%;
        border-radius: 10px;
        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
        animation: slide-down 0.3s ease;
    }
 }
@media (max-width: 1000px) {
    nav{
        top: 76px;
    }
    #credits-title{
        font-size: 22px;
    }
    #credit-grid {
        width: 65%;
    }
    .credit-box {
        font-size: 25px;
        height: 130px;
        border-radius: 25px;
    }
    #modal-body h2 {
        font-size: 20px;
    }
    #modal-body h4 {
        font-size: 16px;
    }
    
    #modal-body ul {
        font-size: 16px;
    }
    #modal-body ul li{
        margin-left: -20px;
    }
    #modal-content {
        width: 25%;
        margin: 25% auto;
    }
}
@media (max-width: 800px) {
    #credits-title{
        font-size: 20px;
    }
    #credit-grid {
        grid-template-columns: 1fr;
    }
    #credit-grid {
        width: 50%;
    }
    .credit-box {
        font-size: 20px;
        height: 90px;
    }
    #modal-content {
        padding: 20px 30px;
        width: 30%;
    }
}
@media (max-width: 768px){
    nav{
        top: 61px;
    }
}
@media (max-width: 700px) {
    #credits-title {
        font-size: 18px;
    }
}
@media (max-width: 600px) {
    #credit-grid {
        width: 45%;
    }
    .credit-box {
        font-size: 16px;
        height: 50px;
        border-radius: 20px;
    }
    #modal-body h2 {
        font-size: 15px;
    }
    #modal-body h4 {
        font-size: 14px;
    }
    
    #modal-body ul {
        font-size: 14px;
    }
    #modal-content {
        margin: 35% auto;
    }
}
@media (max-width: 500px) {
    #modal-body ul li{
        margin-left: -25px;
    }
}
@media (max-width: 400px) {
    #credit-grid {
        width: 40%;
    }
    .credit-box {
        font-size: 14px;
        height: 30px;
        border-radius: 15px;
    }
}
